extends layout

block content
  div.text-center.d-flex.flex-column.align-items-center
    a.w-75(style="color: #f0ad4e", href='/ingresarPedidos')
      button.btn.btn-primary.btn-lg.w-100.my-3(type="button") Ingreso de Pedidos

    a.w-75(style="color: #f0ad4e", href='/pendientes')
      button.btn.btn-primary.btn-lg.w-100.my-3(type="button") Pedidos Pendientes
    a.w-75(style="color: #f0ad4e", href='/inventario')
      button.btn.btn-primary.btn-lg.w-100.my-3(type="button") Inventario de Ingredientes
    a.w-75(style="color: #f0ad4e", href='/layout')
      button.btn.btn-primary.btn-lg.w-100.my-3(type="button") Layout

    button.btn.btn-primary.btn-lg.w-75.my-3(type="button", data-toggle="modal", data-target="#pswModal") Registro

    div.modal.fade#pswModal(tabindex="-1", role="dialog", aria-labelledby="pswModalLabel", aria-hidden="true")
      div.modal-dialog(role="document")
        div.modal-content
          div.modal-header
            h5.modal-title#pswModalLabel Ingresar Contraseña
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &times;
          div.modal-body
            span Contraseña:   
              input(type="password", size="10", maxlength="10")
            br
            a.w-75(style="color: #f0ad4e", href='/registro')
              button.btn.btn-primary.my-2.w-50(type="button") Entrar

