doctype html
html
  head
    title= title
    
    meta(charset='utf-8')
    meta(name='description', content='Some description')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-3.5.1.slim.min.js')
    script(src='/javascripts/bootstrap.min.js')

    //script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")

  body
    div.text-center
      a(href='/')
        img(src='/images/carnalesMod.png')

    block content
