extends layout
block content
  link(rel='stylesheet', href='/stylesheets/mapa.css')
  div#plano
    input.mesa#mesa1(type='button', value='Mesa 1')
    input.mesa#mesa2(type='button', value='Mesa 2')
    input.mesa#mesa3(type='button', value='Mesa 3')
    input.mesa#mesa4(type='button', value='Mesa 4')
    input.mesa#mesa5(type='button', value='Mesa 5')
    input.mesa#mesa6(type='button', value='Mesa 6')
    input.mesaV#mesa7(type='button', value='Mesa 7')
