.pos-radio-button{
  /* background-color: rgb(222, 222, 222) */
  background-color: var(--verde-secundario)
}

.pos-dropdown-item, .pos-dropdown-list{
  background-color: var(--verde-secundario)
}

.invisible{
  visibility: hidden;
}

.selector-border-l{
  border-right: 2.5px solid;
}

.selector-border-r{
  border-left: 2.5px solid;
}

.selector-cant-l{
  padding-right: 0px
}

.selector-cant-r{
  padding-left: 0px
}