.pos-radio-button{
  /* background-color: rgb(222, 222, 222) */
  background-color: var(--verde-secundario)
}

.pos-dropdown-item, .pos-dropdown-list{
  background-color: var(--verde-secundario)
}

.invisible{
  visibility: hidden;
}

.selector-border-l{
  border-right: 2.5px solid;
}

.selector-border-r{
  border-left: 2.5px solid;
}

.selector-cant-l{
  padding-right: 0px
}

.selector-cant-r{
  padding-left: 0px
}

.producto-activo{
  padding: 1px 2px 1px 3px;
}

.producto-activo button{
  padding: 5px;
}

.products-table .products-control{
  width:20px;
	height:20px;
	padding:0px;
	text-align:center;
	border-radius:25px;
  font-size: 12px;
}

.products-table .products-cell{
  border-left:hidden;
  border-top:hidden;
  border-bottom:hidden;
  padding: 2px 0px 2px 0px;
}

.products-table .delete-cell{
  padding-left: 10px;
  padding-right: 10px;
}

.canasta-container .card{
  background-color: var(--fondo-carnales);
  height:120px;
	max-height:120px;
	overflow:auto;
}

.canasta-container .card-body {
  background-color: #dfcd9e;
	padding-top:0px;
	padding-bottom: 0px;
}

table.products-table{
	border:hidden;
	margin-left:auto;
	margin-right:auto;
}

table.products-table tr:nth-child(even){
	background-color: #eee;
}

table.products-table tr:nth-child(odd){
	background-color: #fff;
}

.canasta{
	border:1px solid black; 
	margin:0.4em 0.4em 0 0.4em; 
	border-radius:5px; 
	padding:1px;
}

.products-cell .eliminable, .products-cell .opcion, button .para-llevar{
  width: 35px;
  height: 35px;
}

.btn-light-green{
  background-color:var(--verde-secundario);
  color:#198754
}

@media (min-width: 992px) {
  *{
    font-size:16px;
  }
  
  .canasta-container .card{
    height:400px;
    max-height:400px;
  }
}